<section id="despedida">
    <h2>Hasta luego, {{username}}</h2>
</section>
<div id="ghost">
<img src="https://files.tecnoblog.net/wp-content/uploads/2022/03/ghostface.jpg">
</div>
<h2>Te esperamos en breve</h2>
<script >
    setTimeout(() => {
        window.location.href = '/login'
    }, 2000)
</script>